@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%;*/
}

body{
    background-image: linear-gradient(to right, white , black);
}
main {
    background-color: burlywood;
    border-radius: 10%;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: bisque ;
}
h2{
color: red;
}
p{
    text-align:justify ;
}